<style>
        .pagelist{
            font-size:18pt;
            display: inline-block;
            margin-right: 10px; 
        }
    </style>
<section class="content-header">
    <h1>
        访问者列表&nbsp;
        访问总次数：{$sum}&nbsp;
        <a href="{:U('visitor/showAdd')}" class="btn btn-primary btn-sm">添加访问者</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 访问者</a></li>
        <li class="active">访问者列表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box">
        <!--内容头部-->
        <div class="box-header">
            <form action="/visitor/index" method="get">
                <table class="table">
                    <colgroup>
                        <col style="width: 300px;" />
                        <col style="width: 300px;" />
                        <col style="width: 100px;" />
                        <col />
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">IP</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="visitorname">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group">
                                <span class="input-group-addon">访问时间</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="visitorname">
                                <span class="input-group-addon">至</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="visitorname">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <button class="btn btn-primary" type="submit">搜索</button>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!--内容主体-->
        <div class="box-body" style="overflow-x: auto;">
            <table class="table table-striped">
                <tr class="row">
                    <th class="col-lg-1">ID</th>
                    <th class="col-lg-4">IP地址</th>
                    <th class="col-lg-4">访问时间</th>
                    <th class="col-lg-1">修改</th>
                    <th class="col-lg-1">删除</th>
                </tr>
                <foreach name='visitors' item='visitor'>
                <tr class="row">
                    <td class="col-lg-1">
                        {$visitor['id']}
                    </td>
                    <td class="col-lg-2">
                        {$visitor['ip_address']}
                    </td>
                    <td class="col-lg-4">
                        {$visitor['visit_start_at']}
                    </td>
                    <td class="col-lg-1">
                        <a href="{:U('visitor/showEdit',array('id'=>$visitor['id']))}"><i class="fa fa-fw fa-pencil" data-toggle="tooltip" data-original-title="修改"></i></a>
                    </td>
                    <td class="col-lg-1">
                        <a href="javascript:void(0)" id="del" onclick="del(this)" rel="{$visitor['id']}"><i class="fa fa-fw fa-remove" data-toggle="tooltip" data-original-title="删除"></i></a>
                    </td>
                </tr>
                </foreach>
            </table>
        </div><!-- /.box-body -->
        <!--内容尾部-->
        <div class="box-footer clearfix">
            <div class="pull-right">
                {$page}
            </div>
        </div>
    </div>

</section><!-- /.content -->
<script>
    function del(e)
    {
        if(!confirm('确定要删除吗？'))
        {
            return false;
        }
        var obj = $(e);
        var id = obj.attr("rel");
        $.ajax({
            url: "{:U('visitor/deleteVisitor')}",
            type: "get",
            data: {"id":id},
            dataType: "json",
            success: function( result ){
                if ( result.ret == 0 ) {
                    obj.parent().parent().remove();
                    alert(result.msg);
                }
            }
        });
    }
</script>
