<div style="position: fixed;z-index: 9999;top: 0;left:0;width: 100%;">
<if condition="session('home.error_msg')">
    <div class="alert alert-warning" style="margin-bottom: 0;" id="home_error_msg">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <?php echo session('home.error_msg'); ?>
    </div>
</if>
<if condition="session('home.success_msg')">
    <div class="alert alert-success" style="margin-bottom: 0;" id="home_success_msg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <?php echo session('home.success_msg'); ?>
    </div>
</if>
</div>
<script>
    function unsetSession()
    {
        $.ajax({
            url: "{:U('Comment/unsetSession')}",
            type: "get",
            data: '',
            dataType: "json",
            success: function( result ){
                if ( result.ret == 0 ) {
                    $("#home_success_msg").hide();
                }
            }
        });
    }
    $(function(){
        setTimeout(unsetSession,2000);
    })
</script>