
    <if condition="isset($article)">
            <article id="{$article['id']}" class="post tag-laravel tag-laravel-5-1 tag-xin-ban-ben-fa-bu">

                <div class="post-head">
                    <h1 class="post-title"><a href="{:U('Article/show',array('id'=>$article['article_id']))}">{$article['title']}</a></h1>
                    <div class="post-meta">
                        <span class="author">作者：<a href="#" style="color: #f4645f">{$article['author']}</a></span> &bull;
                        <time class="post-date" title="{$article['updated_at']}">{$article['updated_at']}</time>
                    </div>
                </div>
                <if condition="$article['article_photo']">
                    <div class="featured-media">
                        <a href="{$article['article_photo']}" target="_blank"><img src="{$article['article_photo']}" alt="{$article['title']}" style="max-height: 400px;"></a>
                    </div>
                </if>

                <div class="post-content">
                    <p>{$article['content']}</p>
                </div>
                <div class="post-permalink">

                </div>

                <footer class="post-footer clearfix">
                    <div class="pull-left tag-list">
                        <i class="fa fa-folder-open-o"></i>
                        <a href="{:U('Article/showArticleFeilei',array('name'=>$article[article_type]))}"><?php echo \Common\Common\ArticleLib::$ARTICLE_TYPE[$article['article_type']]?></a><a href="/tag/laravel-5-1/"></a><a href="/tag/xin-ban-ben-fa-bu/"></a>
                    </div>
                    <div class="pull-right share">
                    </div>
                </footer>
            </article>
    </if>

    <div id="comments" style="margin-bottom: 100px;">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><strong>评论</strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="conmments" style="background-color:#ffffff;">
                        <table class="table table-striped" id="addCommentTr">
                            <colgroup>
                                <col  />
                                <col style="width: 10%" />
                            </colgroup>

                            <tbody>
                            <foreach name='comments' item='comment' key="key">
                            <tr>
                                <td >
                                    <div class="nickname"><strong style="color: #3c8dbc">{$comment['nickname']}</strong>&nbsp;&nbsp;&nbsp;{$comment['created_at']}</div>
                                </td>
                                <td>
                                    {$key+1}楼
                                </td>
                            </tr>
                            <tr>
                                <td style="word-break:break-all">{$comment['content']}</td>
                                <td><a href="#new" onclick="reply(this);" data-name="{$comment['nickname']}" style="color: #3c8dbc">回复</a></td>
                            </tr>
                            </foreach>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        <div id="new" style="border-top: solid 5px #49B544;margin-top:20px;background-color: #ffffff;padding-bottom: 5px;padding-top: 5px;">
        
            <form action="{:U('Comment/create')}" method="POST" class="form-horizontal" id="commentForm">
                <input type="hidden" name="article_id" value="{$article['article_id']}">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱" required="required"  />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <textarea name="content" id="content" class="form-control" rows="2" required="required" placeholder="评论"></textarea>
                        <!--<script id="editor" name="content" type="text/plain"></script>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="button" class="btn btn-lg btn-success col-lg-12" id="submitComment">发表</button>
                    </div>
                </div>

            </form>
            <div style="text-align: center">

                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">登录/注册</a>
                <!-- 弹出框 -->
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="border-bottom:0px;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <!--标签页登录/注册-->
                                <div>

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs  nav-justified" role="tablist">
                                        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登录</a></li>
                                        <li role="presentation" ><a href="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="login">
                                            <!--登录表单-->
                                            <div style="margin-top: 10px;">
                                                <form class="form-horizontal" id="loginForm" action="#" method="post">
                                                    <div class="form-group">
                                                        <label for="login_username" class="col-sm-2 control-label">用户名</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="login_username" name="username" placeholder="adCarry" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="login_password" class="col-sm-2 control-label">Password</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control" id="login_password" name="password" placeholder="Password" required min="6">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary">登录</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="register">
                                            <!--注册表单-->
                                            <div style="margin-top: 10px;">
                                                <form class="form-horizontal" action="*" method="post" id="registerForm">
                                                    <div class="form-group">
                                                        <label for="register_username" class="col-sm-2 control-label">用户名</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="register_username" name="username" placeholder="adCarry" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="register_email" class="col-sm-2 control-label">邮箱</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" name="email" id="register_email"  placeholder="123@qq.com" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="login_password" class="col-sm-2 control-label">密码</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control" id="register_password" name="password" placeholder="Password"  minlength="6" required>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="login_password" class="col-sm-2 control-label">再次输入</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control" id="register_repassword" name="repassword" placeholder=""  minlength="6" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary">注册</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="__PUBLIC__/AdminLTE/asset/js/layer/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/AdminLTE/asset/js/lib.js" type="text/javascript"></script>
<script>
    $(function(){
    //setTimeout(unsetSession,2000);
    $("#submitComment").click(submitComment);
    $("#imgTitle").click(function(){
        var src = $(this).attr('src');
        var alt = $(this).attr('alt');
        layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            area: '516px,800px',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: '<img id="imgTitle" src="'+src+'" alt="'+alt+'" style="max-height: 400px;">'
        });
    })
    });

    function reply(a) {
        var obj = $(a);
        var nickname = obj.attr('data-name');
        var teatArea = $("#newFormContent");
        teatArea.val('@'+nickname+' ');
    }

    function submitRegister()
    {

    }

//    function unsetSession()
//    {
//        $.ajax({
//            url: "{:U('Comment/unsetSession')}",
//            type: "get",
//            data: '',
//            dataType: "json",
//            success: function( result ){
//                if ( result.ret == 0 ) {
//                    $("#home_success_msg").hide();
//                }
//            }
//        });
//    }
    
    function submitComment()
    {
        var go = true;
        var email = $("#email").val();
        if($("#nickname").val() == '')
        {
            $("#nickname").focus();
            alert('昵称为必填选项');
            go = false;
            return false;
        }
        if(email == '')
        {
            $("#email").focus();
            alert('邮箱为必填选项');
            go = false;
            return false;
        }

        if($("#content").val() == '')
        {
            $("#content").focus();
            alert('评论为必填选项');
            go = false;
            return false;
        }
        var reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
        if (!reg.test(email)) {
            go = false;
            layer.alert('邮箱有误，请重填');
            $("#customer_phone").focus();
        }

        if(go == false)
        {
            return false;
        }
       $.ajax({
           url: "{:U('Comment/create')}",
           type: "post",
           data: $("#commentForm").serializeArray(),
           dataType: "json",
           success: function( result ){
                   layer.closeAll();
               if ( result.ret == 0 ) {
                   layer.alert('评论成功');
                   $("#commentForm input[name='nickname']").val('');
                   $("#commentForm input[name='email']").val('');
                   $("#commentForm textarea").val('');
                   var commentTrOne = [
                        [
                            [1,'<div class="nickname"><strong style="color: #3c8dbc">'+result.data.nickname+'</strong>&nbsp;&nbsp;&nbsp;'+result.data.created_at+'</div>']
                            , [1, '<span>'+result.key+'</span>楼']
                        ]
                    ];
                   var commentTrTwo  = [
                        [
                            [1,'<span>'+result.data.content+'</span>']
                            , [1, '<a href="#new" onclick="reply(this);" data-name="'+result.data.nickname+'" style="color: #3c8dbc">回复</a>']
                        ]
                   ];
                    addRow('#addCommentTr',0,commentTrOne);
                    addRow('#addCommentTr',0,commentTrTwo);
               } else
               {
                   layer.alert('评论失败，请重新提交');
               }
           },
           error:function()
           {
               layer.closeAll();
               layer.alert('页面出错，请刷新页面后重试');
           }
       });
        layer.load(2, {time: 10*1000});
       // layer.msg('提交中...',{
       //     //icon: 1,
       //     time: 10000 //2秒关闭（如果不配置，默认是3秒）
       // });
    }
</script>


    </div>

