<section class="content-header">
    <h1>
        管理员编辑
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('User/index')}"><i class="fa fa-dashboard"></i> 管理员</a></li>
        <li class="active">管理员编辑</li>
    </ol>
</section>

<section class="content">

    <div class="box">
        <div class="box-body">

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">管理员编辑</div>

                <div class="panel-body">

                    <form class="form-horizontal" name="editUserForm" id="editUserForm" action="{:U('User/postEdit',array('id'=>$user['id']))}" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名" value="{$user['username']}" minlength="2" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="不修改则为原密码" minlength="6"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱" value="{$user['email']}" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cp_group_id" class="col-sm-2 control-label">管理组</label>
                                <div class="col-sm-7">
                                    <select name="cp_group_id" id="cp_group_id" class="form-control" required>
                                        <option value="">--请选择--</option>
                                        <foreach name='groupAll' item='group'>
                                            <?php
                                            $selected='';if($user['cp_group_id'] == $group['cp_group_id'])$selected="selected='selected'"
                                            ?>
                                            <option value="{$group['cp_group_id']}" {$selected} >{$group['cp_group_name']}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-7">
                                    <button type="submit" class="btn btn-info">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </section>

