<style>
        .pagelist{
            font-size:18pt;
            display: inline-block;
            margin-right: 10px; 
        }
    </style>
<div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">管理用户</div>

                    <div class="panel-body">

                        <table class="table table-striped">
                            <tr class="row">
                                <th class="col-lg-1">ID</th>
                                <th class="col-lg-2">用户名</th>
                                <th class="col-lg-4">email</th>
                                <th class="col-lg-2">管理组</th>
                                <th class="col-lg-1">编辑</th>
                                <th class="col-lg-1">权限分配</th>
                                <th class="col-lg-1">删除</th>
                            </tr>
                            <foreach name='users' item='user'>
                                <tr class="row">
                                    <td class="col-lg-1">
                                        {$user['id']}
                                    </td>
                                    <td class="col-lg-2">
                                        {$user['name']}
                                    </td>
                                    <td class="col-lg-4">
                                        {$user['email']}
                                    </td>
                                    <td class="col-lg-2">
                                        <?php
                                            if(Admin\Model\AdminAccessModel::checkIsSystemAdmin($user))
                                            {
                                                $name = '系统管理员';
                                            }else
                                            {
                                                $adminGroup= new Admin\Model\AdminGroupModel;
                                                $name = $adminGroup->where('cp_group_id='.$user['cp_group_id'])->getField('cp_group_name');
                                            }

                                            echo $name
                                        ?>
                                    </td>
                                    <td class="col-lg-1">
                                        <a href="{:U('User/showEdit',array('id'=>$user['id']))}"><i class="fa fa-fw fa-pencil" data-toggle="tooltip" data-original-title="修改"></i></a>
                                    </td>
                                    <td class="col-lg-1">
                                        <a href="{:U('Perm/showPersonalPerm',array('id'=>$user['id']))}"><i class="fa fa-fw fa-cogs" data-toggle="tooltip" data-original-title="权限分配"></i></a>
                                    </td>
                                    <td class="col-lg-1">
                                        <a href="javascript:void(0)" id="del" onclick="del(this)" rel="{$user['id']}"><i class="fa fa-fw fa-remove" data-toggle="tooltip" data-original-title="删除"></i></a>
                                    </td>
                                </tr>
                            </foreach>
                        </table>
                        <div class="col-sm-4 col-sm-offset-8">
                            <div class ="pagination pagination-lg pagelist">{$page}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function del(e)
    {
        if(!confirm('确定要删除吗？'))
        {
            return false;
        }
        var obj = $(e);
        var id = obj.attr("rel");
        $.ajax({
            url: "{:U('User/deleteUser')}",
            type: "GET",
            data: {"id":id},
            dataType: "json",
            success: function( result ){
                if ( result.ret == 0 ) {
                    obj.parent().parent().remove();
                    alert(result.msg);
                }
            }
        });
    }
</script>
